* {
    reg:        "SF Pro Display  11";
    bold:       "SF Pro Display Bold 11";
    ita:        "SF Pro Display Italic 11";
    reg-big:    "SF Pro Display 15"; 
    bold-big:   "SF Pro Display Bold 15";
    ita-big:    "SF Pro Display Italic 15";
    reg-sm:     "SF Pro Display 9";
    bold-sm:    "SF Pro Display Bold 9";
    ita-sm:     "SF Pro Display Italic 9";
    reg-icon:   "SF Pro Display 30";
    bold-icon:   "SF Pro Display Bold 30";
    ita-icon:   "SF Pro Display Italic 30";
}
