/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */

/* PALETTE */
/*     'background':   '#101010', */
/*     'background1':  '#2e2e2e', */
/*     'foreground':   '#f8f8f8', */
/*     'foreground1':  '#b8b8b8', */

/*     'black':        '#101010', */
/*     'red':          '#ab4642', */
/*     'green':        '#a1b56c', */
/*     'yellow':       '#d7ba7d', */
/*     'blue':         '#7cafc2', */
/*     'magenta':      '#ba8baf', */
/*     'cyan':         '#86c1b9', */
/*     'white':        '#f8f8f8', */


* {
	border: none;
	border-radius: 15px;
	font-family: SF Pro Display;
	font-size: 14px;
	min-height: 16px;
}

window#waybar {
	background: rgba(24,24,24,0.85);
	border-radius: 15px;
	opacity: 1;
    animation: fadeIn 1s;
  	-webkit-transition: background .25s ease-in;
	-moz-transition: background .25s ease-in;
	-o-transition: background .5s ease-in;
	transition: background .5s ease-in;


}

window#waybar.empty {
	background: transparent;
	-webkit-transition: background .25s ease-out;
  	-moz-transition: background .25s ease-out;
  	-o-transition: background .5s ease-out;
  	transition: background .5s ease-out;

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

window#waybar.hidden {
	opacity: 1;
	padding: 0px;
}

#custom-logo {
	font-size: 18px;
	margin: 5px 13px 5px 18px;
}

#custom-finder {
	background: none;
	font-size: 0;
	margin: 0;
	padding: 0;

}

#custom-archivo, #custom-ejecutar, #custom-portapapeles {
	background: transparent;
	margin: 5px 10px;
	padding: 0px;
	transition: none;
	color: #f8f8f8;

	font-size: 14px;
}

#waybar.empty #custom-finder {
	background: transparent;
	margin: 5px 10px;
	padding: 0px;
	transition: none;
	color: #f8f8f8;

	font-size: 14px;
	font-weight: bold;
}

#window {
	margin: 5px 10px;
	padding: 0px;
	transition: none;
	color: #f8f8f8;

	font-family: sans-serif, SF Pro Display;
	font-weight: bold;
	
}

#waybar.empty #window {
	background: none;
	font-size: 0;
	margin: 0;
	padding: 0;
}

#workspaces {
	
	margin: 0px 10px;
	padding: 0px;
	transition: none;
}

#workspaces button {
	margin: 5px 10px;

	padding: 5px;
	border-radius: 10px;

	transition: none;
	color: #f8f8f8;
	background: rgba(161,181,108,0.25);
	font-size: 16px;
}

#workspaces button.active {
	color: #101010;
	background: #a1b56c;
	margin: 5px 10px;
}

#workspaces button.empty {
	color: #f8f8f8;
	background: transparent;
	margin: 5px 10px;
}

#workspaces button.urgent {
	color: #101010;
	background: #ab4642;
	margin: 5px 10px;
}

#submap {
	margin: 5px 10px;
	padding:  0px 10px;
	transition: none;
	color: rgba(24,24,24, 1);
	background: #a1b56c;

	font-weight: bold;
}

#tray {
	
	margin: 5px 10px;
	padding: 0px;
}

#network {
	
	margin: 5px 10px;
	padding: 0px;
	transition: none;
	color: #f8f8f8;
}

#backlight {
	
	margin: 5px 10px;
	padding: 0px;
	transition: none;
	color: #f8f8f8;
}

#pulseaudio {
	
	margin: 5px 10px;
	padding: 0px;
	transition: none;
	color: #f8f8f8;
}

#temperature {
	
	margin: 5px 10px;
	padding: 0px;
	transition: none;
	color: #f8f8f8;
}

#battery {
	
	margin: 5px 10px;
	padding: 0px;
	color: #f8f8f8;
	transition: none;
}

#battery.warning {
}

#battery.critical {
}

#cpu {
	
	margin: 5px 10px;
	padding: 0px;
	transition: none;
	color: #f8f8f8;
}

#memory {
	
	margin: 5px 10px;
	padding: 0px;
	transition: none;
	color: #f8f8f8;
}

#language {
	
	margin: 5px 10px;
	padding: 0px;
	transition: none;
	color: #f8f8f8;
}

#clock {
	
	margin: 5px 15px 5px 10px;
	padding: 0px;
	transition: none;
	color: #f8f8f8;
}
